#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ChatBox
Exec=/home/rusich/Nextcloud/AppImages/Chatbox.AppImage
Icon=/home/rusich/Nextcloud/AppImages/icons/chatbox.png
StartupWMClass=xyz.chatboxapp.app
