[Desktop Entry]
Type=Service
Icon=preferences-desktop-wallpaper
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*
Actions=rwpspread;
Encoding=UTF-8

[Desktop Action rwpspread]
Name=Set Hyprland wallpaper
Icon=preferences-desktop-wallpaper
Exec=rwpspread -b wpaperd -l hyprlock -i %f
