theme = "kanagawa"

[editor]
line-number = "relative"
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

# Open lazygit inside helix
[keys.normal]
C-g = [ ":new", ":insert-output lazygit", ":buffer-close!", ":redraw"]
esc = [ "collapse_selection", "keep_primary_selection"]
