[Desktop Entry]
Name=Envision
# StartupWMClass=avantgarde
Comment=Envision
Exec="/home/rusich/Games/VR/Envision-x86_64.AppImage"
Icon=/home/rusich/Nextcloud/Pictures/Icons/Envision.svg
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Categories=Game;
